{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock title %}

{% block main-content %}
<div class="container">
<div class="row my-3">
    <div class="col-sm-4 offset-sm-4">
        <h4>Login</h4>
        <hr>
        <form action=" " method="POST" novalidate class="shadow p-5">
            {% csrf_token %}
            {% for fm in form %}
                <div class="form-group mb-2">
                    {{fm.label_tag}} {{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>
                </div>
            {% endfor %}
            <small><a href="#">Forgot Password?</a></small>
	        <br>
            <input type="submit" value="Login" class="btn btn-primary mt-4">
            <br>
            <br>
            <div class="text-center text-primary fw-bold">
		        <small>New to eSale? <a href="/registration/" class="text-danger">Create an Account</a></small>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock main-content %}